.login-card {
    background: #fff;
    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    width: 100%;
}

.login-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.login-card p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}



.login-btn {
    background: linear-gradient(to right, var(--color-blue-500), var(--color-blue-300));
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    margin: 8px 0;
    transition: background 0.3s ease, transform 0.2s ease;
}
.login-btn:hover {
    background-color: var(--color-primary);
    transform: scale(1.05);
}

.create-account,.forgot-password {
    margin: 15px 0 !important;
    font-size: 12px !important;
}

.create-account a {
    font-size: 12px;
    color: var(--color-blue-400);
    text-decoration: none;
}

.forgot-password a {
    font-size: 14px;
    color: var(--color-blue-400);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.forgot-password a:hover {
    font-weight: bold;
    color: var(--color-blue-800);
}