.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 1.5rem;
  }
  
  .profile-container form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #444;
  }
  
  .form-group input[type="currentpassword"],
  .form-group input[type="newPassword"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    border-color: #FC8C59;
    outline: none;
  }
  
  .profile-container .btn {
    padding: 12px;
    background-color: #FC8C59;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .profile-container .btn:hover {
    background-color: #f99c71;
  }
  
  .success-message {
    color: #28a745;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .error-message {
    color: #dc3545;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .update-button {
    background: linear-gradient(to right, #FC8C59, #f99c71);
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.5s ease;
    margin-top: 20px;
  }
  
  .update-button:hover {
    background-color: var(--color-primary);
    transform: scale(0.9);
  }
  
  /* Responsive design */
  @media (max-width: 500px) {
    .profile-container {
        padding: 20px;
        margin: 30px 16px;
    }
  
    .profile-container h2 {
        font-size: 1.3rem;
    }
  }
  