.update-button {
    background: linear-gradient(to right, #FC8C59, #f99c71);
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.5s ease;
  }
  
  .update-button:hover {
    background-color: var(--color-primary);
    transform: scale(0.9);
  }