.search-container h2 {
  text-align: center;
}

.search-query {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 30px;
  text-align: center;
}

.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.book-image img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.book-details h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.book-details h3 a {
  text-decoration: none;
  color: var(--color-primary);
}

.book-details h3 a:hover {
  text-decoration: underline;
}


.book-details p {
  margin: 6px 0;
  font-size: 0.95rem;
}

.btn i {
  margin-right: 6px;
}

.no-results {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-top: 40px;
}

.home-button-wrapper {
  text-align: center;
}


.btn-cart {
  background: linear-gradient(to right, #FC8C59, #f99c71);
  color: #fff;
  padding: 8px 15px;
  outline: none;
  border: none;
  transition: background 0.3s ease, transform 0.5s ease;
}
.btn-cart:hover {
  background-color: #FC8C59;
  transform: scale(1.05);
}


.back-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #070606;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background-color: var(--color-primary);
  border-color: #fff;
  color: #fff;
}