<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT"> <!-- console appender: it  sets up a console appender named "STDOUT" that sends log messages to the standard output stream of the system, allowing them to be displayed in the console or terminal window during the execution of the application.-->
            <PatternLayout pattern = "%date{DEFAULT} %level [%thread] %class{1}.%method(%file:%line)%n\tIP = %MDC{IP};
             nUSER = %MDC{USER}; ACTION = %MDC{ACTION}; RESOURCE = %MDC{RESOURCE}%n\t%message%n\t%throwable%n" />
        </Console>
    </Appenders><?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="WARN">
        <Appenders>
            <Console name="STDOUT" target="SYSTEM_OUT">
                <PatternLayout pattern="%date{DEFAULT} %level [%thread] %class{1}.%method(%file:%line)%n\tIP = %MDC{IP};
                USER = %MDC{USER}; ACTION = %MDC{ACTION}; RESOURCE = %MDC{RESOURCE}%n\t%message%n\t%throwable%n"/>
            </Console>
        </Appenders>

        <Loggers>
            <Root level="trace">
                <AppenderRef ref="STDOUT"/>
            </Root>
        </Loggers>
    </Configuration>

    <Loggers>
        <Root level="trace"> <!-- levels: trace, debug, info, warn, error, fatal -->
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>